<% content_for :title, 'Error 500' %>

<section class="hero-contact" style="min-height: 500px">
  <img src="<%= asset_path('/web/images/') %>" alt="contact bg" class="overlay-image-contacto">
  <div class="overlay-description">
    <div class="container-xxl text-white py-5">
      <div class="row align-items-center">
        <div class="col-12 d-lg-inline">
          <div class="gd-institucional-title">
            <span class="gd-institucional-title gd-bold">Error </span>
            <span class="gd-text-green gd-bold">500</span>
          </div>
          <div class="gd-institucional-subtitle  fw-normal">Ocurrió un error inesperado, vuelve a intentar más tarde
          </div>
        </div>
      </div>
    </div>
  </div>
</section>