<% content_for :title, 'P치gina en mantenimiento' %>

<section class="hero-contact" style="min-height: 500px">
  <img src="<%= asset_path('/web/images/') %>" alt="contact bg" class="overlay-image-contacto">
  <div class="overlay-description">
    <div class="container-xxl text-white py-5">
      <div class="row align-items-center">
        <div class="col-12 d-lg-inline">
          <div class="gd-institucional-title">
            <span class="gd-institucional-title gd-bold">P치gina en mantenimiento </span>
          </div>
          <div class="gd-institucional-subtitle  fw-normal">
            La p치gina se encuentra en mantenimiento actualmente, por favor vuelva m치s tarde
          </div>
        </div>
      </div>
    </div>
  </div>
</section>