:root {
    --primary: rgba(29, 66, 138, 1);
    --bs-primary: rgba(29, 66, 138, 1);
    --secondary: rgba(190, 205, 46, 1);
    --white: rgba(255, 255, 255, 1);
}

.text-primary {
    color: var(--primary) !important;
}



.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.bg-header {
    border-radius: 0px 0px 20px 20px;
    background: rgba(217, 217, 217, 0.10);
    backdrop-filter: blur(10px);
}

.hero {
    height: 600px;
    position: relative;
}



@media (min-width: 320px) {
    .hero {
        height: 800px;
    }
}

@media (min-width: 768px) {
    .hero {
        height: 650px;
    }


}

@media (min-width: 1024px) {
    .hero {
        height: 720px;
    }
}

@media (min-width: 1200px) {
    .hero {
        height: 700px;
    }
}

@media (min-width: 1600px) {
    .hero {
        height: 800px;
    }
}

/*.overlay-image {*/
/*    !*background-image: url('overlay.png');*!*/
/*    !*background-position: center center;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-size: cover;*!*/
/*    position: absolute;*/
/*    z-index: -10;*/

/*    width: 100%;*/
/*    height: inherit;*/
/*}*/

/*.overlay-image .banner-img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

.overlay-color {
    background-image: url('overlay-color.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -20;

    width: 100%;
    height: 100%;
}



.z-index-10 {
    z-index: 10;
}

.flex-basis-0 {
    flex-basis: 0 !important;
}

.radius {
    border-radius: 30px;
}

.girl {
    bottom: -30%;
}

.btn-terciary {
    border: 1px solid #ffffff;
    background-color: #4a68a1;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 20px;
}

