<div id="<%= dom_id response %>">
  <p>
    <strong>Questionnaire:</strong>
    <%= response.questionnaire_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= response.person_id %>
  </p>

</div>
